.pnumb {
  color: #0466C8;
  font-size: 16px;
  font-weight: 500;
  line-height: 30.5px;
}
.pnumb2 {
  color: #85a4e9;
  font-size: 16px;
  font-weight: 500;
  line-height: 30.5px;
}
.pnumb3 {
  color: #001233;
  font-size: 16px;
  font-weight: 500;
  line-height: 30.5px;
}
.pnumb4 {
  color: #707480;
  font-size: 16px;
  font-weight: 500;
  line-height: 30.5px;
}


@font-face {
  font-family: circular;
  src: url('../public/circular-std-medium-500.ttf');
}

.circular{
  font-family: circular;
}
